# Ignore node_modules
node_modules/

# Ignore build/dist folders
dist/
build/

# Ignore environment variables
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db